.slider {
  position: relative;
  width: 200px;
  padding-bottom: 20px;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
  position: absolute;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb__zindex-3 {
  z-index: 3;
}

.thumb__zindex-4 {
  z-index: 4;
}

.thumb__zindex-5 {
    z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.avsel_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.avsel_row label {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
}

.avsel_add_button {
  width: fit-content;
  height: 50%;
  font-size: 2rem;
  margin: 0.5rem;
  padding-right: 0.5rem;
}

.avsel_time_block {
  background: white;
  border-radius: .5rem;
  border: 2px black;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: min-content;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.avsel_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90%, 500px);
  max-height: 90vh;
  border-radius: 8px;
  overflow: hidden;
  margin: 0px;
  z-index: 1000;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px;
  }

  main {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding: 1rem;
    border-top: 1px;
  }
}
